@import 'variables'
@import 'reset'
@import 'interface'
@import 'header'
@import 'main'
@import 'media'

body
	font-family: 'Gotham Pro Regular', Arial, sans-serif
	background-color: $bg-color-dark
	color: $text-color-light
