* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

input:focus,
.slick-slide:focus {
  outline: none;
}

.slick-initialized .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  position: relative;
  width: 516px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1c1c1c;
}

.popup-contact {
  background: #f8f6f0 url("../img/modal/rose-2.png") bottom left no-repeat;
}

.popup-close {
  position: absolute;
  top: 0;
  right: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.popup-close:hover {
  color: #ff1844;
}

.popup-title {
  width: 100%;
  min-height: 70px;
  font-family: "Gotham Pro Medium";
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff2e55;
  color: #fff;
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
}

.popup-form__header {
  margin-bottom: 20px;
}

.popup-form__input {
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  font-size: 15px;
  text-align: center;
}

.popup-flowers {
  padding-top: 57px;
  padding-bottom: 52px;
  background: url("../img/modal/rose-1.png") top right no-repeat, url("../img/modal/rose-2.png") bottom left no-repeat;
  background-color: #f8f6f0;
}

.popup-text__flower {
  margin-bottom: 29px;
  font-family: "Gotham Pro Medium";
  font-size: 24px;
  text-transform: uppercase;
  color: #f64f6b;
}

.popup-text__descr {
  max-width: 400px;
  line-height: 1.2;
  color: #1c1c1c;
}

.popup-thanks {
  background: #f8f6f0 url("../img/modal/rose-2.png") bottom left no-repeat;
}

.popup-thanks__text {
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-family: "Gotham Pro Medium";
  font-size: 34px;
  letter-spacing: 0.34px;
  text-transform: uppercase;
}

.slider-arrow {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 21px;
  height: 100%;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider-arrow-main__left {
  left: -25px;
  background: url("../img/main/slider/arrows/arrow-prev.png") center no-repeat;
}

.slider-arrow-main__left:hover {
  background: url("../img/main/slider/arrows/arrow-prev-active.png") center no-repeat;
}

.slider-arrow-main__right {
  right: -25px;
  background: url("../img/main/slider/arrows/arrow-next.png") center no-repeat;
}

.slider-arrow-main__right:hover {
  background: url("../img/main/slider/arrows/arrow-next-active.png") center no-repeat;
}

.slider-arrow-features__left {
  left: 0;
  background: url("../img/features/slider/arrows/arrow-prev.png") center no-repeat;
}

.slider-arrow-features__right {
  right: 0;
  background: url("../img/features/slider/arrows/arrow-next.png") center no-repeat;
}

.button {
  width: 300px;
  height: 70px;
  padding: 0;
  font-family: "Gotham Pro Medium";
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 70px;
  text-transform: uppercase;
  background-color: #ff2e55;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #ff1844;
  -webkit-box-shadow: 0 0 16px rgba(242, 72, 65, 0.39);
  box-shadow: 0 0 16px rgba(242, 72, 65, 0.39);
}

.button-stock {
  width: 140px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  background-color: #f24841;
}

.number span {
  margin: 0 10px;
  cursor: pointer;
}

.number-input {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #292929;
  color: #fff;
  border: 2px solid #fff;
}

.header {
  padding-top: 41px;
  padding-bottom: 55px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo__img {
  margin-right: 42px;
}

.header-logo__descr {
  max-width: 122px;
  font-family: 'Gotham Pro Light';
  font-size: 12px;
}

.header-logo__descr span {
  font-family: 'Gotham Pro Medium';
  letter-spacing: 0.12px;
  color: #ff3469;
}

.header-contacts {
  text-align: right;
}

.header-contacts__number {
  font-family: 'Gotham Pro Medium';
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}

.header-contacts__descr {
  margin-bottom: 5px;
  font-size: 12px;
  letter-spacing: 0.12px;
}

.header-contacts__action {
  padding-bottom: 4px;
  font-family: 'Gotham Pro Light';
  font-size: 16px;
  letter-spacing: 0.16px;
  color: #ff3469;
  border-bottom: 1px solid #ff3469;
}

.main {
  padding-top: 55px;
  padding-bottom: 75px;
  text-align: center;
  border-bottom: 1px solid #4c4c4c;
}

.main-title {
  margin-bottom: 20px;
}

.main-promotion {
  margin-bottom: 81px;
  font-family: "Gotham Pro Light";
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.18px;
}

.main-promotion span {
  font-family: "Gotham Pro Medium";
  letter-spacing: 0.18px;
}

.main-slider {
  position: relative;
  margin-bottom: 76px;
  padding: 0 20px;
}

.main-slider img {
  margin: 0 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-slider img:hover {
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
}

.main-discount {
  margin-bottom: 32px;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
}

.main-discount span {
  font-family: "Gotham Pro Medium";
  letter-spacing: 0.19px;
}

.features {
  padding-top: 93px;
  padding-bottom: 96px;
  text-align: center;
  border-bottom: 1px solid #4c4c4c;
}

.features-title {
  margin-bottom: 93px;
  font-size: 30px;
}

.features-slider {
  margin-bottom: 100px;
  padding: 0 81px;
  text-align: initial;
}

.features-slider__person {
  position: relative;
  z-index: 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: 49px;
  width: 220px;
  height: 220px;
  font-family: "Gotham Pro Medium";
  font-size: 20px;
  line-height: 220px;
  text-align: center;
  border-radius: 50%;
  background: #292929 url("../img/features/slider/person-bg.jpg") center no-repeat;
}

.features-slider__person span {
  font-family: "Gotham Pro Regular";
  font-size: 18px;
}

.features-slider__person::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  border-radius: 50%;
}

.features-slider__feedback {
  display: inline-block;
  vertical-align: middle;
  max-width: 481px;
  font-family: "Gotham Pro Light";
  font-size: 18px;
  line-height: 1.2;
  text-align: initial;
}

.features-slider__text {
  margin-bottom: 19px;
}

.features-slider__photos {
  color: #f24841;
  padding-bottom: 2px;
  border-bottom: 1px solid #f24841;
}

.features-block__text {
  font-family: "Gotham Pro Medium";
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
}

.features-block__img {
  min-height: 80px;
  margin-bottom: 23px;
}

.stock {
  padding-top: 93px;
  padding-bottom: 55px;
  text-align: center;
}

.stock-title {
  margin-bottom: 13px;
  font-size: 30px;
}

.stock-title span {
  color: #ff1844;
}

.stock-descr {
  margin-bottom: 73px;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.stock-block {
  margin-bottom: 27px;
  padding: 30px 35px;
  border: 3px solid #ffffff;
}

.stock-block__img {
  margin-bottom: 17px;
}

.stock-block__type {
  margin-bottom: 7px;
  font-family: "Gotham Pro Medium";
  font-size: 20px;
  text-transform: uppercase;
}

.stock-block__choice {
  margin-bottom: 5px;
  font-family: "Gotham Pro Light";
  font-size: 14px;
}

.stock-block__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 13px;
}

.stock-block__quantity {
  margin-bottom: 10px;
  font-family: "Gotham Pro Light";
  font-size: 14px;
}

.stock-expand {
  position: relative;
  padding-bottom: 4px;
  font-size: 14px;
  color: #f24841;
  border-bottom: 1px solid #f24841;
}

.stock-expand::after {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: -24px;
  content: '';
  width: 10px;
  height: 4px;
  background: url("../img/stock/icon-expand.png") center no-repeat;
}

.questions {
  padding-top: 93px;
  padding-bottom: 74px;
  background-color: #1a1a1a;
  text-align: center;
}

.questions-title {
  margin-bottom: 14px;
  font-size: 30px;
}

.questions-order {
  padding-bottom: 6px;
  font-family: "Gotham Pro Medium";
  font-size: 30px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.questions-text {
  margin-top: 50px;
  margin-bottom: 5px;
  font-family: "Gotham Pro Light";
  font-size: 14px;
}

.questions-phone {
  font-size: 36px;
  letter-spacing: 0.36px;
  color: #fff;
}

.footer-first {
  padding-top: 45px;
  padding-bottom: 37px;
}

.footer-first__links {
  margin-bottom: 23px;
  font-family: "Gotham Pro Medium";
  font-size: 18px;
  text-transform: uppercase;
}

.footer-first__links-1,
.footer-first__links-2 {
  padding-bottom: 2px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.footer-first__links-1 {
  margin-right: 27px;
}

.footer-first_social__text {
  display: inline-block;
  margin-right: 20px;
  font-family: "Gotham Pro Light";
  font-size: 16px;
}

.footer-first_social__img {
  height: 20px;
}

.footer-first__contacts {
  text-align: right;
}

.footer-first__clients {
  margin-bottom: 5px;
  font-family: "Gotham Pro Light";
  font-size: 14px;
  letter-spacing: 0.3px;
}

.footer-first__number {
  display: inline-block;
  font-family: "Gotham Pro Medium";
  font-size: 24px;
  color: #fff;
}

.footer-first__schedule {
  font-family: "Gotham Pro Light";
  font-size: 14px;
}

.footer {
  padding-top: 41px;
  padding-bottom: 50px;
  background-color: #fff;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo__img {
  margin-right: 42px;
}

.footer-logo__descr {
  max-width: 122px;
  font-family: 'Gotham Pro Light';
  font-size: 12px;
  color: #292929;
}

.footer-logo__descr span {
  font-family: 'Gotham Pro Medium';
  letter-spacing: 0.12px;
  color: #ff3469;
}

.footer-design-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #101010;
}

.footer-design-info__author {
  margin-left: 2px;
  color: #101010;
  border-bottom: 1px solid #000;
}

.footer-design-info__author:hover {
  color: #101010;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

body {
  font-family: 'Gotham Pro Regular', Arial, sans-serif;
  background-color: #292929;
  color: #fff;
}